.maindiv {
  height: 530px;
  width: 80%;
  /* border: 1px violet solid; */
  margin: auto;
  display: flex;
}
.subdiv {
  height: 510px;
  width: 32%;
  /* border: 1px orange solid; */
  margin: auto;
  text-align: center;
}
